.product_size_selector{
    margin-bottom: 32px;
}

.product_size_selector .product_size_selector__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.product_size_selector .product_size_selector__item {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #EBEBEB;
    cursor: pointer;
    transition: all .3s ease;
    padding: 0;
    margin: 0;
    background-color: transparent;

    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(20 / 14);
    text-align: center;
    text-transform: uppercase;
}

.product_size_selector .product_size_selector__item.active {
    border-color: #111111;
}